{% extends "main_app/base.html" %}

{% load i18n %}


{% block content %}

<div class="mt-3 mb-5" style="max-width: 767px; margin: auto;">
    <h3 class="text-center text-uppercase text-secondary">{% trans 'Admin panel' %}</h3>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item ">
            <a class="nav-link{% block admins_active %}{% endblock admins_active %}" href="{% url 'admin_dashboard:admins' %}">{% trans 'Admins' %}</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link{% block photographers_active %}{% endblock photographers_active %}" href="{% url 'admin_dashboard:photographers' %}">{% trans 'Photographers' %}</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link{% block payments_active %}{% endblock payments_active %}" href="{% url 'admin_dashboard:payments' %}">{% trans 'Payments' %}</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link{% block banners_active %}{% endblock banners_active %}" href="{% url 'admin_dashboard:banners' %}">{% trans 'Banners' %}</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link{% block announcements_active %}{% endblock announcements_active %}" href="{% url 'admin_dashboard:announcements' %}">{% trans 'Announcements' %}</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link{% block places_active %}{% endblock places_active %}" href="{% url 'admin_dashboard:places' %}">{% trans 'Places' %}</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link{% block news_active %}{% endblock news_active %}" href="{% url 'admin_dashboard:news' %}">{% trans 'News' %}</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link{% block photographer_orders_active %}{% endblock photographer_orders_active %}" href="{% url 'admin_dashboard:photographer-orders' %}"><i class='fas fa-camera'></i></a>
        </li>
    </ul>
    <!-- End Nav tabs -->

    {% block admin_dashboard_content %}{% endblock admin_dashboard_content %}

</div>

{% endblock content %}
