{% extends "admin_dashboard/base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% load static %}


{% block title %}{% trans 'Edit Place' %}{% endblock title %}


{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/unify-core.css' %}">
<link rel="stylesheet" href="{% static 'css/unify-components.css' %}">
{% endblock stylesheet %}


{% block places_active %} active{% endblock places_active %}


{% block admin_dashboard_content %}

<br>

{% if message %}
    <p>{% trans 'Error!' %}</p>
{% endif %}

<form action="{% url 'admin_dashboard:edit-place' place_id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form place_form %}
    <button class="btn btn-warning" type="submit">{% trans 'Edit Place' %}</button>
</form>

{% endblock admin_dashboard_content %}
