{% load static %}


<section class="subnav">
    <div class="container-fluid" style="max-width: 1190px;">
        <div class="row">
            <div class="col-md-12">
                <div class="subnav-body">
                    <div class="subnav-body-slider">
                        <div class="subnav-body-slider-slide">
                            <a href="http://pro.likeme.one/od/banket.php" class="subnav-body-slider-slide-a">
                                <img src="{% static 'images/sn-banketi.jpg' %}" alt="" class="subnav-body-slider-slide-a-img">
                            </a>
                        </div>
                        <div class="subnav-body-slider-slide">
                            <a href="http://pro.likeme.one/od/kids.php" class="subnav-body-slider-slide-a">
                                <img src="{% static 'images/sn-deti.jpg' %}" alt="" class="subnav-body-slider-slide-a-img">
                            </a>
                        </div>
                        <div class="subnav-body-slider-slide">
                            <a href="http://pro.likeme.one/od/food.php" class="subnav-body-slider-slide-a">
                                <img src="{% static 'images/sn-food.jpg' %}" alt="" class="subnav-body-slider-slide-a-img">
                            </a>
                        </div>
                        <div class="subnav-body-slider-slide">
                            <a href="http://pro.likeme.one/od/inter.php" class="subnav-body-slider-slide-a">
                                <img src="{% static 'images/sn-int.jpg' %}" alt="" class="subnav-body-slider-slide-a-img">
                            </a>
                        </div>
                        <div class="subnav-body-slider-slide">
                            <a href="http://pro.likeme.one/od/kokt.php" class="subnav-body-slider-slide-a">
                                <img src="{% static 'images/sn-kokteli.jpg' %}" alt="" class="subnav-body-slider-slide-a-img">
                            </a>
                        </div>
                        <div class="subnav-body-slider-slide">
                            <a href="http://pro.likeme.one/od/wedding.php" class="subnav-body-slider-slide-a">
                                <img src="{% static 'images/sn-svadba.jpg' %}" alt="" class="subnav-body-slider-slide-a-img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
